@import url("https://fonts.googleapis.com/css?family=Open+Sans");


@layer base {
    :root {
        --primary-dark-green: rgb(72, 169, 166);
        --primary-light-green:  rgb(182, 221, 219);
        --primary-yellow-light: rgb(255, 203, 144, 0.4);
        --grey: rgb(128, 128, 128);
        --success-green-light: rgb(123, 222, 123);
        --error-red-light: rgb(239, 71, 71);
    }
}

:root {
    --primary-dark-green: rgb(72, 169, 166);
    --primary-blue-light:  rgb(182, 221, 219);
    --primary-yellow-light: rgb(255, 203, 144, 0.4);
    --grey: rgb(128, 128, 128);
    --success-green-light: rgb(123, 222, 123);
    --error-red-light: rgb(239, 71, 71);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    min-height: 100vh;
    line-height: 1.6;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}